gradio
google-generativeai
speechrecognition
pydub
gtts
langchain
langchain-core
langchain-community
langchain-huggingface
langchain-google-genai
langchain-tavily
sentence-transformers
faiss-cpu
beautifulsoup4
requests
nltk
selenium
tavily-python
ipykernel
matplotlib
